@import "tailwindcss";


.vertical-japanese {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.custom-scroll {
  scrollbar-width: none;
  /* Firefox */
}

.custom-scroll::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for Webkit browsers (Chrome, Safari) */
}